In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
DF = pd.read_csv("messy_data.csv")
df = DF.copy()
df

   Customer Name              Email Quantity  Price        Date
0            NaN            missing      one     30  2023-01-01
1          alice  charlie@yahoo.com      one     40  2023-01-02
2           BOB             missing      one    NaN  2023-01-03
3            NaN    alice@gmail.com    FOUR      40  2023-01-04
4        Charlie        bob@outlook        3     30  2023-01-05
5           BOB                 NaN        3     30  2023-01-06
6           BOB     alice@gmail.com      one  fifty  2023-01-07
7            NaN                NaN        3    NaN  2023-01-08
8            Bob        bob@outlook        3     20  2023-01-09
9        Charlie        bob@outlook      one     20  2023-01-10
10           NaN    alice@gmail.com        3     40  2023-01-11
11       Charlie        bob@outlook      NaN  fifty  2023-01-12
12       Charlie            missing      two     10  2023-01-13
13          BOB         bob@outlook      two     40  2023-01-14
14         alice                NaN      one  fifty  2023-01-15
15       Charlie                NaN    FOUR     NaN  2023-01-16
16           NaN                NaN      one    NaN  2023-01-17
17          BOB                 NaN    FOUR     NaN  2023-01-18
18           Bob            missing      two    NaN  2023-01-19
19         alice  charlie@yahoo.com      one    NaN  2023-01-20
20           NaN    alice@gmail.com        5  fifty  2023-01-21
21           NaN                NaN      NaN  fifty  2023-01-22
22           Bob        bob@outlook        3     30  2023-01-23
23         alice                NaN    FOUR      20  2023-01-24
24          BOB         bob@outlook        5    NaN  2023-01-25
25         Alice        bob@outlook        3     10  2023-01-26
26         alice                NaN        3  fifty  2023-01-27
27           Bob            missing      one     10  2023-01-28
28           NaN        bob@outlook        3     10  2023-01-29
29          BOB         bob@outlook      NaN     10  2023-01-30
30         alice                NaN        5     30  2023-01-31
31         Alice        bob@outlook        3  fifty  2023-02-01
32         Alice        bob@outlook      one     10  2023-02-02
33       Charlie                NaN      NaN    NaN  2023-02-03
34       Charlie                NaN      two     40  2023-02-04
35           NaN    alice@gmail.com        5     10  2023-02-05
36           Bob            missing        3     30  2023-02-06
37         alice            missing      one  fifty  2023-02-07
38         alice        bob@outlook      two     30  2023-02-08
39           NaN            missing      two     10  2023-02-09
40           NaN        bob@outlook    FOUR   fifty  2023-02-10
41           NaN    alice@gmail.com      NaN     40  2023-02-11
42           NaN                NaN        3     10  2023-02-12
43           NaN                NaN      one     30  2023-02-13
44       Charlie                NaN    FOUR      20  2023-02-14
45         alice            missing      NaN    NaN  2023-02-15
46           NaN    alice@gmail.com    FOUR      30  2023-02-16
47         alice            missing        5  fifty  2023-02-17
48         Alice            missing      NaN     10  2023-02-18
49       Charlie    alice@gmail.com      NaN    NaN  2023-02-19

In [49]:
df.isnull().sum()

Customer Name    15
Email             0
Quantity          8
Price            11
Date              0
dtype: int64

In [50]:
df["Customer Name"]=df["Customer Name"].fillna(df["Email"])

In [51]:
df.loc[df["Customer Name"].str.strip().str.lower() == 'missing', "Customer Name"] = "NaN"

In [52]:
df

      Customer Name              Email Quantity  Price        Date
0               NaN            missing      one     30  2023-01-01
1             alice  charlie@yahoo.com      one     40  2023-01-02
2              BOB             missing      one    NaN  2023-01-03
3   alice@gmail.com    alice@gmail.com    FOUR      40  2023-01-04
4           Charlie        bob@outlook        3     30  2023-01-05
5              BOB                 NaN        3     30  2023-01-06
6              BOB     alice@gmail.com      one  fifty  2023-01-07
7               NaN                NaN        3    NaN  2023-01-08
8               Bob        bob@outlook        3     20  2023-01-09
9           Charlie        bob@outlook      one     20  2023-01-10
10  alice@gmail.com    alice@gmail.com        3     40  2023-01-11
11          Charlie        bob@outlook      NaN  fifty  2023-01-12
12          Charlie            missing      two     10  2023-01-13
13             BOB         bob@outlook      two     40  2023-01-14
14            alice                NaN      one  fifty  2023-01-15
15          Charlie                NaN    FOUR     NaN  2023-01-16
16              NaN                NaN      one    NaN  2023-01-17
17             BOB                 NaN    FOUR     NaN  2023-01-18
18              Bob            missing      two    NaN  2023-01-19
19            alice  charlie@yahoo.com      one    NaN  2023-01-20
20  alice@gmail.com    alice@gmail.com        5  fifty  2023-01-21
21              NaN                NaN      NaN  fifty  2023-01-22
22              Bob        bob@outlook        3     30  2023-01-23
23            alice                NaN    FOUR      20  2023-01-24
24             BOB         bob@outlook        5    NaN  2023-01-25
25            Alice        bob@outlook        3     10  2023-01-26
26            alice                NaN        3  fifty  2023-01-27
27              Bob            missing      one     10  2023-01-28
28      bob@outlook        bob@outlook        3     10  2023-01-29
29             BOB         bob@outlook      NaN     10  2023-01-30
30            alice                NaN        5     30  2023-01-31
31            Alice        bob@outlook        3  fifty  2023-02-01
32            Alice        bob@outlook      one     10  2023-02-02
33          Charlie                NaN      NaN    NaN  2023-02-03
34          Charlie                NaN      two     40  2023-02-04
35  alice@gmail.com    alice@gmail.com        5     10  2023-02-05
36              Bob            missing        3     30  2023-02-06
37            alice            missing      one  fifty  2023-02-07
38            alice        bob@outlook      two     30  2023-02-08
39              NaN            missing      two     10  2023-02-09
40      bob@outlook        bob@outlook    FOUR   fifty  2023-02-10
41  alice@gmail.com    alice@gmail.com      NaN     40  2023-02-11
42              NaN                NaN        3     10  2023-02-12
43              NaN                NaN      one     30  2023-02-13
44          Charlie                NaN    FOUR      20  2023-02-14
45            alice            missing      NaN    NaN  2023-02-15
46  alice@gmail.com    alice@gmail.com    FOUR      30  2023-02-16
47            alice            missing        5  fifty  2023-02-17
48            Alice            missing      NaN     10  2023-02-18
49          Charlie    alice@gmail.com      NaN    NaN  2023-02-19

In [53]:
df.replace({"NaN":"-", "missing":"-"})
df.fillna("-")

      Customer Name              Email Quantity  Price        Date
0               NaN            missing      one     30  2023-01-01
1             alice  charlie@yahoo.com      one     40  2023-01-02
2              BOB             missing      one      -  2023-01-03
3   alice@gmail.com    alice@gmail.com    FOUR      40  2023-01-04
4           Charlie        bob@outlook        3     30  2023-01-05
5              BOB                 NaN        3     30  2023-01-06
6              BOB     alice@gmail.com      one  fifty  2023-01-07
7               NaN                NaN        3      -  2023-01-08
8               Bob        bob@outlook        3     20  2023-01-09
9           Charlie        bob@outlook      one     20  2023-01-10
10  alice@gmail.com    alice@gmail.com        3     40  2023-01-11
11          Charlie        bob@outlook        -  fifty  2023-01-12
12          Charlie            missing      two     10  2023-01-13
13             BOB         bob@outlook      two     40  2023-01-14
14            alice                NaN      one  fifty  2023-01-15
15          Charlie                NaN    FOUR       -  2023-01-16
16              NaN                NaN      one      -  2023-01-17
17             BOB                 NaN    FOUR       -  2023-01-18
18              Bob            missing      two      -  2023-01-19
19            alice  charlie@yahoo.com      one      -  2023-01-20
20  alice@gmail.com    alice@gmail.com        5  fifty  2023-01-21
21              NaN                NaN        -  fifty  2023-01-22
22              Bob        bob@outlook        3     30  2023-01-23
23            alice                NaN    FOUR      20  2023-01-24
24             BOB         bob@outlook        5      -  2023-01-25
25            Alice        bob@outlook        3     10  2023-01-26
26            alice                NaN        3  fifty  2023-01-27
27              Bob            missing      one     10  2023-01-28
28      bob@outlook        bob@outlook        3     10  2023-01-29
29             BOB         bob@outlook        -     10  2023-01-30
30            alice                NaN        5     30  2023-01-31
31            Alice        bob@outlook        3  fifty  2023-02-01
32            Alice        bob@outlook      one     10  2023-02-02
33          Charlie                NaN        -      -  2023-02-03
34          Charlie                NaN      two     40  2023-02-04
35  alice@gmail.com    alice@gmail.com        5     10  2023-02-05
36              Bob            missing        3     30  2023-02-06
37            alice            missing      one  fifty  2023-02-07
38            alice        bob@outlook      two     30  2023-02-08
39              NaN            missing      two     10  2023-02-09
40      bob@outlook        bob@outlook    FOUR   fifty  2023-02-10
41  alice@gmail.com    alice@gmail.com        -     40  2023-02-11
42              NaN                NaN        3     10  2023-02-12
43              NaN                NaN      one     30  2023-02-13
44          Charlie                NaN    FOUR      20  2023-02-14
45            alice            missing        -      -  2023-02-15
46  alice@gmail.com    alice@gmail.com    FOUR      30  2023-02-16
47            alice            missing        5  fifty  2023-02-17
48            Alice            missing        -     10  2023-02-18
49          Charlie    alice@gmail.com        -      -  2023-02-19

In [54]:
df.loc[df["Email"].str.strip().str.lower() == "nan", "Email"] = "-"
df.loc[df["Email"].str.strip().str.lower() == "missing", "Email"] = "-"

In [55]:
df

      Customer Name              Email Quantity  Price        Date
0               NaN                  -      one     30  2023-01-01
1             alice  charlie@yahoo.com      one     40  2023-01-02
2              BOB                   -      one    NaN  2023-01-03
3   alice@gmail.com    alice@gmail.com    FOUR      40  2023-01-04
4           Charlie        bob@outlook        3     30  2023-01-05
5              BOB                   -        3     30  2023-01-06
6              BOB     alice@gmail.com      one  fifty  2023-01-07
7               NaN                  -        3    NaN  2023-01-08
8               Bob        bob@outlook        3     20  2023-01-09
9           Charlie        bob@outlook      one     20  2023-01-10
10  alice@gmail.com    alice@gmail.com        3     40  2023-01-11
11          Charlie        bob@outlook      NaN  fifty  2023-01-12
12          Charlie                  -      two     10  2023-01-13
13             BOB         bob@outlook      two     40  2023-01-14
14            alice                  -      one  fifty  2023-01-15
15          Charlie                  -    FOUR     NaN  2023-01-16
16              NaN                  -      one    NaN  2023-01-17
17             BOB                   -    FOUR     NaN  2023-01-18
18              Bob                  -      two    NaN  2023-01-19
19            alice  charlie@yahoo.com      one    NaN  2023-01-20
20  alice@gmail.com    alice@gmail.com        5  fifty  2023-01-21
21              NaN                  -      NaN  fifty  2023-01-22
22              Bob        bob@outlook        3     30  2023-01-23
23            alice                  -    FOUR      20  2023-01-24
24             BOB         bob@outlook        5    NaN  2023-01-25
25            Alice        bob@outlook        3     10  2023-01-26
26            alice                  -        3  fifty  2023-01-27
27              Bob                  -      one     10  2023-01-28
28      bob@outlook        bob@outlook        3     10  2023-01-29
29             BOB         bob@outlook      NaN     10  2023-01-30
30            alice                  -        5     30  2023-01-31
31            Alice        bob@outlook        3  fifty  2023-02-01
32            Alice        bob@outlook      one     10  2023-02-02
33          Charlie                  -      NaN    NaN  2023-02-03
34          Charlie                  -      two     40  2023-02-04
35  alice@gmail.com    alice@gmail.com        5     10  2023-02-05
36              Bob                  -        3     30  2023-02-06
37            alice                  -      one  fifty  2023-02-07
38            alice        bob@outlook      two     30  2023-02-08
39              NaN                  -      two     10  2023-02-09
40      bob@outlook        bob@outlook    FOUR   fifty  2023-02-10
41  alice@gmail.com    alice@gmail.com      NaN     40  2023-02-11
42              NaN                  -        3     10  2023-02-12
43              NaN                  -      one     30  2023-02-13
44          Charlie                  -    FOUR      20  2023-02-14
45            alice                  -      NaN    NaN  2023-02-15
46  alice@gmail.com    alice@gmail.com    FOUR      30  2023-02-16
47            alice                  -        5  fifty  2023-02-17
48            Alice                  -      NaN     10  2023-02-18
49          Charlie    alice@gmail.com      NaN    NaN  2023-02-19

In [56]:
df["Customer Name"] = df["Customer Name"].str.strip().str.split("@", regex=False).str[0]

In [57]:
df.loc[df["Customer Name"].str.strip().str.lower() == "nan", "Customer Name"] = "-"

In [58]:
df

   Customer Name              Email Quantity  Price        Date
0              -                  -      one     30  2023-01-01
1          alice  charlie@yahoo.com      one     40  2023-01-02
2            BOB                  -      one    NaN  2023-01-03
3          alice    alice@gmail.com    FOUR      40  2023-01-04
4        Charlie        bob@outlook        3     30  2023-01-05
5            BOB                  -        3     30  2023-01-06
6            BOB    alice@gmail.com      one  fifty  2023-01-07
7              -                  -        3    NaN  2023-01-08
8            Bob        bob@outlook        3     20  2023-01-09
9        Charlie        bob@outlook      one     20  2023-01-10
10         alice    alice@gmail.com        3     40  2023-01-11
11       Charlie        bob@outlook      NaN  fifty  2023-01-12
12       Charlie                  -      two     10  2023-01-13
13           BOB        bob@outlook      two     40  2023-01-14
14         alice                  -      one  fifty  2023-01-15
15       Charlie                  -    FOUR     NaN  2023-01-16
16             -                  -      one    NaN  2023-01-17
17           BOB                  -    FOUR     NaN  2023-01-18
18           Bob                  -      two    NaN  2023-01-19
19         alice  charlie@yahoo.com      one    NaN  2023-01-20
20         alice    alice@gmail.com        5  fifty  2023-01-21
21             -                  -      NaN  fifty  2023-01-22
22           Bob        bob@outlook        3     30  2023-01-23
23         alice                  -    FOUR      20  2023-01-24
24           BOB        bob@outlook        5    NaN  2023-01-25
25         Alice        bob@outlook        3     10  2023-01-26
26         alice                  -        3  fifty  2023-01-27
27           Bob                  -      one     10  2023-01-28
28           bob        bob@outlook        3     10  2023-01-29
29           BOB        bob@outlook      NaN     10  2023-01-30
30         alice                  -        5     30  2023-01-31
31         Alice        bob@outlook        3  fifty  2023-02-01
32         Alice        bob@outlook      one     10  2023-02-02
33       Charlie                  -      NaN    NaN  2023-02-03
34       Charlie                  -      two     40  2023-02-04
35         alice    alice@gmail.com        5     10  2023-02-05
36           Bob                  -        3     30  2023-02-06
37         alice                  -      one  fifty  2023-02-07
38         alice        bob@outlook      two     30  2023-02-08
39             -                  -      two     10  2023-02-09
40           bob        bob@outlook    FOUR   fifty  2023-02-10
41         alice    alice@gmail.com      NaN     40  2023-02-11
42             -                  -        3     10  2023-02-12
43             -                  -      one     30  2023-02-13
44       Charlie                  -    FOUR      20  2023-02-14
45         alice                  -      NaN    NaN  2023-02-15
46         alice    alice@gmail.com    FOUR      30  2023-02-16
47         alice                  -        5  fifty  2023-02-17
48         Alice                  -      NaN     10  2023-02-18
49       Charlie    alice@gmail.com      NaN    NaN  2023-02-19

In [59]:
df["Customer Name"] = df["Customer Name"].apply(lambda x: "BOB" if x in ["BOB", "Bob"] else x.title())

In [60]:
df

   Customer Name              Email Quantity  Price        Date
0              -                  -      one     30  2023-01-01
1          Alice  charlie@yahoo.com      one     40  2023-01-02
2            BOB                  -      one    NaN  2023-01-03
3          Alice    alice@gmail.com    FOUR      40  2023-01-04
4        Charlie        bob@outlook        3     30  2023-01-05
5            BOB                  -        3     30  2023-01-06
6            BOB    alice@gmail.com      one  fifty  2023-01-07
7              -                  -        3    NaN  2023-01-08
8            BOB        bob@outlook        3     20  2023-01-09
9        Charlie        bob@outlook      one     20  2023-01-10
10         Alice    alice@gmail.com        3     40  2023-01-11
11       Charlie        bob@outlook      NaN  fifty  2023-01-12
12       Charlie                  -      two     10  2023-01-13
13           BOB        bob@outlook      two     40  2023-01-14
14         Alice                  -      one  fifty  2023-01-15
15       Charlie                  -    FOUR     NaN  2023-01-16
16             -                  -      one    NaN  2023-01-17
17           BOB                  -    FOUR     NaN  2023-01-18
18           BOB                  -      two    NaN  2023-01-19
19         Alice  charlie@yahoo.com      one    NaN  2023-01-20
20         Alice    alice@gmail.com        5  fifty  2023-01-21
21             -                  -      NaN  fifty  2023-01-22
22           BOB        bob@outlook        3     30  2023-01-23
23         Alice                  -    FOUR      20  2023-01-24
24           BOB        bob@outlook        5    NaN  2023-01-25
25         Alice        bob@outlook        3     10  2023-01-26
26         Alice                  -        3  fifty  2023-01-27
27           BOB                  -      one     10  2023-01-28
28           Bob        bob@outlook        3     10  2023-01-29
29           BOB        bob@outlook      NaN     10  2023-01-30
30         Alice                  -        5     30  2023-01-31
31         Alice        bob@outlook        3  fifty  2023-02-01
32         Alice        bob@outlook      one     10  2023-02-02
33       Charlie                  -      NaN    NaN  2023-02-03
34       Charlie                  -      two     40  2023-02-04
35         Alice    alice@gmail.com        5     10  2023-02-05
36           BOB                  -        3     30  2023-02-06
37         Alice                  -      one  fifty  2023-02-07
38         Alice        bob@outlook      two     30  2023-02-08
39             -                  -      two     10  2023-02-09
40           Bob        bob@outlook    FOUR   fifty  2023-02-10
41         Alice    alice@gmail.com      NaN     40  2023-02-11
42             -                  -        3     10  2023-02-12
43             -                  -      one     30  2023-02-13
44       Charlie                  -    FOUR      20  2023-02-14
45         Alice                  -      NaN    NaN  2023-02-15
46         Alice    alice@gmail.com    FOUR      30  2023-02-16
47         Alice                  -        5  fifty  2023-02-17
48         Alice                  -      NaN     10  2023-02-18
49       Charlie    alice@gmail.com      NaN    NaN  2023-02-19

In [61]:
df.loc[df["Email"].str.strip() == "-", "Email"] = df["Customer Name"]

In [62]:
df

   Customer Name              Email Quantity  Price        Date
0              -                  -      one     30  2023-01-01
1          Alice  charlie@yahoo.com      one     40  2023-01-02
2            BOB                BOB      one    NaN  2023-01-03
3          Alice    alice@gmail.com    FOUR      40  2023-01-04
4        Charlie        bob@outlook        3     30  2023-01-05
5            BOB                BOB        3     30  2023-01-06
6            BOB    alice@gmail.com      one  fifty  2023-01-07
7              -                  -        3    NaN  2023-01-08
8            BOB        bob@outlook        3     20  2023-01-09
9        Charlie        bob@outlook      one     20  2023-01-10
10         Alice    alice@gmail.com        3     40  2023-01-11
11       Charlie        bob@outlook      NaN  fifty  2023-01-12
12       Charlie            Charlie      two     10  2023-01-13
13           BOB        bob@outlook      two     40  2023-01-14
14         Alice              Alice      one  fifty  2023-01-15
15       Charlie            Charlie    FOUR     NaN  2023-01-16
16             -                  -      one    NaN  2023-01-17
17           BOB                BOB    FOUR     NaN  2023-01-18
18           BOB                BOB      two    NaN  2023-01-19
19         Alice  charlie@yahoo.com      one    NaN  2023-01-20
20         Alice    alice@gmail.com        5  fifty  2023-01-21
21             -                  -      NaN  fifty  2023-01-22
22           BOB        bob@outlook        3     30  2023-01-23
23         Alice              Alice    FOUR      20  2023-01-24
24           BOB        bob@outlook        5    NaN  2023-01-25
25         Alice        bob@outlook        3     10  2023-01-26
26         Alice              Alice        3  fifty  2023-01-27
27           BOB                BOB      one     10  2023-01-28
28           Bob        bob@outlook        3     10  2023-01-29
29           BOB        bob@outlook      NaN     10  2023-01-30
30         Alice              Alice        5     30  2023-01-31
31         Alice        bob@outlook        3  fifty  2023-02-01
32         Alice        bob@outlook      one     10  2023-02-02
33       Charlie            Charlie      NaN    NaN  2023-02-03
34       Charlie            Charlie      two     40  2023-02-04
35         Alice    alice@gmail.com        5     10  2023-02-05
36           BOB                BOB        3     30  2023-02-06
37         Alice              Alice      one  fifty  2023-02-07
38         Alice        bob@outlook      two     30  2023-02-08
39             -                  -      two     10  2023-02-09
40           Bob        bob@outlook    FOUR   fifty  2023-02-10
41         Alice    alice@gmail.com      NaN     40  2023-02-11
42             -                  -        3     10  2023-02-12
43             -                  -      one     30  2023-02-13
44       Charlie            Charlie    FOUR      20  2023-02-14
45         Alice              Alice      NaN    NaN  2023-02-15
46         Alice    alice@gmail.com    FOUR      30  2023-02-16
47         Alice              Alice        5  fifty  2023-02-17
48         Alice              Alice      NaN     10  2023-02-18
49       Charlie    alice@gmail.com      NaN    NaN  2023-02-19

In [63]:
df["Email"] = df["Email"].replace({"Alice":"alice@gmail.com", "BOB":"bob@outlook", "Charlie":"charlie@yahoo.com"})

In [64]:
df

   Customer Name              Email Quantity  Price        Date
0              -                  -      one     30  2023-01-01
1          Alice  charlie@yahoo.com      one     40  2023-01-02
2            BOB        bob@outlook      one    NaN  2023-01-03
3          Alice    alice@gmail.com    FOUR      40  2023-01-04
4        Charlie        bob@outlook        3     30  2023-01-05
5            BOB        bob@outlook        3     30  2023-01-06
6            BOB    alice@gmail.com      one  fifty  2023-01-07
7              -                  -        3    NaN  2023-01-08
8            BOB        bob@outlook        3     20  2023-01-09
9        Charlie        bob@outlook      one     20  2023-01-10
10         Alice    alice@gmail.com        3     40  2023-01-11
11       Charlie        bob@outlook      NaN  fifty  2023-01-12
12       Charlie  charlie@yahoo.com      two     10  2023-01-13
13           BOB        bob@outlook      two     40  2023-01-14
14         Alice    alice@gmail.com      one  fifty  2023-01-15
15       Charlie  charlie@yahoo.com    FOUR     NaN  2023-01-16
16             -                  -      one    NaN  2023-01-17
17           BOB        bob@outlook    FOUR     NaN  2023-01-18
18           BOB        bob@outlook      two    NaN  2023-01-19
19         Alice  charlie@yahoo.com      one    NaN  2023-01-20
20         Alice    alice@gmail.com        5  fifty  2023-01-21
21             -                  -      NaN  fifty  2023-01-22
22           BOB        bob@outlook        3     30  2023-01-23
23         Alice    alice@gmail.com    FOUR      20  2023-01-24
24           BOB        bob@outlook        5    NaN  2023-01-25
25         Alice        bob@outlook        3     10  2023-01-26
26         Alice    alice@gmail.com        3  fifty  2023-01-27
27           BOB        bob@outlook      one     10  2023-01-28
28           Bob        bob@outlook        3     10  2023-01-29
29           BOB        bob@outlook      NaN     10  2023-01-30
30         Alice    alice@gmail.com        5     30  2023-01-31
31         Alice        bob@outlook        3  fifty  2023-02-01
32         Alice        bob@outlook      one     10  2023-02-02
33       Charlie  charlie@yahoo.com      NaN    NaN  2023-02-03
34       Charlie  charlie@yahoo.com      two     40  2023-02-04
35         Alice    alice@gmail.com        5     10  2023-02-05
36           BOB        bob@outlook        3     30  2023-02-06
37         Alice    alice@gmail.com      one  fifty  2023-02-07
38         Alice        bob@outlook      two     30  2023-02-08
39             -                  -      two     10  2023-02-09
40           Bob        bob@outlook    FOUR   fifty  2023-02-10
41         Alice    alice@gmail.com      NaN     40  2023-02-11
42             -                  -        3     10  2023-02-12
43             -                  -      one     30  2023-02-13
44       Charlie  charlie@yahoo.com    FOUR      20  2023-02-14
45         Alice    alice@gmail.com      NaN    NaN  2023-02-15
46         Alice    alice@gmail.com    FOUR      30  2023-02-16
47         Alice    alice@gmail.com        5  fifty  2023-02-17
48         Alice    alice@gmail.com      NaN     10  2023-02-18
49       Charlie    alice@gmail.com      NaN    NaN  2023-02-19

In [65]:
corrections = {
    "Charlie": "charlie@yahoo.com",
    "Alice": "alice@gmail.com",
    "BOB": "bob@outlook"
}
df["Email"] = df["Customer Name"].map(corrections).fillna(df["Email"])

In [66]:
df

   Customer Name              Email Quantity  Price        Date
0              -                  -      one     30  2023-01-01
1          Alice    alice@gmail.com      one     40  2023-01-02
2            BOB        bob@outlook      one    NaN  2023-01-03
3          Alice    alice@gmail.com    FOUR      40  2023-01-04
4        Charlie  charlie@yahoo.com        3     30  2023-01-05
5            BOB        bob@outlook        3     30  2023-01-06
6            BOB        bob@outlook      one  fifty  2023-01-07
7              -                  -        3    NaN  2023-01-08
8            BOB        bob@outlook        3     20  2023-01-09
9        Charlie  charlie@yahoo.com      one     20  2023-01-10
10         Alice    alice@gmail.com        3     40  2023-01-11
11       Charlie  charlie@yahoo.com      NaN  fifty  2023-01-12
12       Charlie  charlie@yahoo.com      two     10  2023-01-13
13           BOB        bob@outlook      two     40  2023-01-14
14         Alice    alice@gmail.com      one  fifty  2023-01-15
15       Charlie  charlie@yahoo.com    FOUR     NaN  2023-01-16
16             -                  -      one    NaN  2023-01-17
17           BOB        bob@outlook    FOUR     NaN  2023-01-18
18           BOB        bob@outlook      two    NaN  2023-01-19
19         Alice    alice@gmail.com      one    NaN  2023-01-20
20         Alice    alice@gmail.com        5  fifty  2023-01-21
21             -                  -      NaN  fifty  2023-01-22
22           BOB        bob@outlook        3     30  2023-01-23
23         Alice    alice@gmail.com    FOUR      20  2023-01-24
24           BOB        bob@outlook        5    NaN  2023-01-25
25         Alice    alice@gmail.com        3     10  2023-01-26
26         Alice    alice@gmail.com        3  fifty  2023-01-27
27           BOB        bob@outlook      one     10  2023-01-28
28           Bob        bob@outlook        3     10  2023-01-29
29           BOB        bob@outlook      NaN     10  2023-01-30
30         Alice    alice@gmail.com        5     30  2023-01-31
31         Alice    alice@gmail.com        3  fifty  2023-02-01
32         Alice    alice@gmail.com      one     10  2023-02-02
33       Charlie  charlie@yahoo.com      NaN    NaN  2023-02-03
34       Charlie  charlie@yahoo.com      two     40  2023-02-04
35         Alice    alice@gmail.com        5     10  2023-02-05
36           BOB        bob@outlook        3     30  2023-02-06
37         Alice    alice@gmail.com      one  fifty  2023-02-07
38         Alice    alice@gmail.com      two     30  2023-02-08
39             -                  -      two     10  2023-02-09
40           Bob        bob@outlook    FOUR   fifty  2023-02-10
41         Alice    alice@gmail.com      NaN     40  2023-02-11
42             -                  -        3     10  2023-02-12
43             -                  -      one     30  2023-02-13
44       Charlie  charlie@yahoo.com    FOUR      20  2023-02-14
45         Alice    alice@gmail.com      NaN    NaN  2023-02-15
46         Alice    alice@gmail.com    FOUR      30  2023-02-16
47         Alice    alice@gmail.com        5  fifty  2023-02-17
48         Alice    alice@gmail.com      NaN     10  2023-02-18
49       Charlie  charlie@yahoo.com      NaN    NaN  2023-02-19

In [67]:
df["Quantity"] = df["Quantity"].fillna("-")

In [68]:
df.loc[df["Quantity"].str.strip().str.lower() == "four", "Quantity"] = 4
df.loc[df["Quantity"].str.strip().str.lower() == "one", "Quantity"] = 1
df.loc[df["Quantity"].str.strip().str.lower() == "two", "Quantity"] = 2

In [69]:
df

   Customer Name              Email Quantity  Price        Date
0              -                  -        1     30  2023-01-01
1          Alice    alice@gmail.com        1     40  2023-01-02
2            BOB        bob@outlook        1    NaN  2023-01-03
3          Alice    alice@gmail.com        4     40  2023-01-04
4        Charlie  charlie@yahoo.com        3     30  2023-01-05
5            BOB        bob@outlook        3     30  2023-01-06
6            BOB        bob@outlook        1  fifty  2023-01-07
7              -                  -        3    NaN  2023-01-08
8            BOB        bob@outlook        3     20  2023-01-09
9        Charlie  charlie@yahoo.com        1     20  2023-01-10
10         Alice    alice@gmail.com        3     40  2023-01-11
11       Charlie  charlie@yahoo.com        -  fifty  2023-01-12
12       Charlie  charlie@yahoo.com        2     10  2023-01-13
13           BOB        bob@outlook        2     40  2023-01-14
14         Alice    alice@gmail.com        1  fifty  2023-01-15
15       Charlie  charlie@yahoo.com        4    NaN  2023-01-16
16             -                  -        1    NaN  2023-01-17
17           BOB        bob@outlook        4    NaN  2023-01-18
18           BOB        bob@outlook        2    NaN  2023-01-19
19         Alice    alice@gmail.com        1    NaN  2023-01-20
20         Alice    alice@gmail.com        5  fifty  2023-01-21
21             -                  -        -  fifty  2023-01-22
22           BOB        bob@outlook        3     30  2023-01-23
23         Alice    alice@gmail.com        4     20  2023-01-24
24           BOB        bob@outlook        5    NaN  2023-01-25
25         Alice    alice@gmail.com        3     10  2023-01-26
26         Alice    alice@gmail.com        3  fifty  2023-01-27
27           BOB        bob@outlook        1     10  2023-01-28
28           Bob        bob@outlook        3     10  2023-01-29
29           BOB        bob@outlook        -     10  2023-01-30
30         Alice    alice@gmail.com        5     30  2023-01-31
31         Alice    alice@gmail.com        3  fifty  2023-02-01
32         Alice    alice@gmail.com        1     10  2023-02-02
33       Charlie  charlie@yahoo.com        -    NaN  2023-02-03
34       Charlie  charlie@yahoo.com        2     40  2023-02-04
35         Alice    alice@gmail.com        5     10  2023-02-05
36           BOB        bob@outlook        3     30  2023-02-06
37         Alice    alice@gmail.com        1  fifty  2023-02-07
38         Alice    alice@gmail.com        2     30  2023-02-08
39             -                  -        2     10  2023-02-09
40           Bob        bob@outlook        4  fifty  2023-02-10
41         Alice    alice@gmail.com        -     40  2023-02-11
42             -                  -        3     10  2023-02-12
43             -                  -        1     30  2023-02-13
44       Charlie  charlie@yahoo.com        4     20  2023-02-14
45         Alice    alice@gmail.com        -    NaN  2023-02-15
46         Alice    alice@gmail.com        4     30  2023-02-16
47         Alice    alice@gmail.com        5  fifty  2023-02-17
48         Alice    alice@gmail.com        -     10  2023-02-18
49       Charlie  charlie@yahoo.com        -    NaN  2023-02-19

In [70]:
df["Price"] = df["Price"].fillna("-")

In [71]:
df

   Customer Name              Email Quantity  Price        Date
0              -                  -        1     30  2023-01-01
1          Alice    alice@gmail.com        1     40  2023-01-02
2            BOB        bob@outlook        1      -  2023-01-03
3          Alice    alice@gmail.com        4     40  2023-01-04
4        Charlie  charlie@yahoo.com        3     30  2023-01-05
5            BOB        bob@outlook        3     30  2023-01-06
6            BOB        bob@outlook        1  fifty  2023-01-07
7              -                  -        3      -  2023-01-08
8            BOB        bob@outlook        3     20  2023-01-09
9        Charlie  charlie@yahoo.com        1     20  2023-01-10
10         Alice    alice@gmail.com        3     40  2023-01-11
11       Charlie  charlie@yahoo.com        -  fifty  2023-01-12
12       Charlie  charlie@yahoo.com        2     10  2023-01-13
13           BOB        bob@outlook        2     40  2023-01-14
14         Alice    alice@gmail.com        1  fifty  2023-01-15
15       Charlie  charlie@yahoo.com        4      -  2023-01-16
16             -                  -        1      -  2023-01-17
17           BOB        bob@outlook        4      -  2023-01-18
18           BOB        bob@outlook        2      -  2023-01-19
19         Alice    alice@gmail.com        1      -  2023-01-20
20         Alice    alice@gmail.com        5  fifty  2023-01-21
21             -                  -        -  fifty  2023-01-22
22           BOB        bob@outlook        3     30  2023-01-23
23         Alice    alice@gmail.com        4     20  2023-01-24
24           BOB        bob@outlook        5      -  2023-01-25
25         Alice    alice@gmail.com        3     10  2023-01-26
26         Alice    alice@gmail.com        3  fifty  2023-01-27
27           BOB        bob@outlook        1     10  2023-01-28
28           Bob        bob@outlook        3     10  2023-01-29
29           BOB        bob@outlook        -     10  2023-01-30
30         Alice    alice@gmail.com        5     30  2023-01-31
31         Alice    alice@gmail.com        3  fifty  2023-02-01
32         Alice    alice@gmail.com        1     10  2023-02-02
33       Charlie  charlie@yahoo.com        -      -  2023-02-03
34       Charlie  charlie@yahoo.com        2     40  2023-02-04
35         Alice    alice@gmail.com        5     10  2023-02-05
36           BOB        bob@outlook        3     30  2023-02-06
37         Alice    alice@gmail.com        1  fifty  2023-02-07
38         Alice    alice@gmail.com        2     30  2023-02-08
39             -                  -        2     10  2023-02-09
40           Bob        bob@outlook        4  fifty  2023-02-10
41         Alice    alice@gmail.com        -     40  2023-02-11
42             -                  -        3     10  2023-02-12
43             -                  -        1     30  2023-02-13
44       Charlie  charlie@yahoo.com        4     20  2023-02-14
45         Alice    alice@gmail.com        -      -  2023-02-15
46         Alice    alice@gmail.com        4     30  2023-02-16
47         Alice    alice@gmail.com        5  fifty  2023-02-17
48         Alice    alice@gmail.com        -     10  2023-02-18
49       Charlie  charlie@yahoo.com        -      -  2023-02-19

In [72]:
df["Price"] = df["Price"].replace({"fifty":50})

In [73]:
df

   Customer Name              Email Quantity Price        Date
0              -                  -        1    30  2023-01-01
1          Alice    alice@gmail.com        1    40  2023-01-02
2            BOB        bob@outlook        1     -  2023-01-03
3          Alice    alice@gmail.com        4    40  2023-01-04
4        Charlie  charlie@yahoo.com        3    30  2023-01-05
5            BOB        bob@outlook        3    30  2023-01-06
6            BOB        bob@outlook        1    50  2023-01-07
7              -                  -        3     -  2023-01-08
8            BOB        bob@outlook        3    20  2023-01-09
9        Charlie  charlie@yahoo.com        1    20  2023-01-10
10         Alice    alice@gmail.com        3    40  2023-01-11
11       Charlie  charlie@yahoo.com        -    50  2023-01-12
12       Charlie  charlie@yahoo.com        2    10  2023-01-13
13           BOB        bob@outlook        2    40  2023-01-14
14         Alice    alice@gmail.com        1    50  2023-01-15
15       Charlie  charlie@yahoo.com        4     -  2023-01-16
16             -                  -        1     -  2023-01-17
17           BOB        bob@outlook        4     -  2023-01-18
18           BOB        bob@outlook        2     -  2023-01-19
19         Alice    alice@gmail.com        1     -  2023-01-20
20         Alice    alice@gmail.com        5    50  2023-01-21
21             -                  -        -    50  2023-01-22
22           BOB        bob@outlook        3    30  2023-01-23
23         Alice    alice@gmail.com        4    20  2023-01-24
24           BOB        bob@outlook        5     -  2023-01-25
25         Alice    alice@gmail.com        3    10  2023-01-26
26         Alice    alice@gmail.com        3    50  2023-01-27
27           BOB        bob@outlook        1    10  2023-01-28
28           Bob        bob@outlook        3    10  2023-01-29
29           BOB        bob@outlook        -    10  2023-01-30
30         Alice    alice@gmail.com        5    30  2023-01-31
31         Alice    alice@gmail.com        3    50  2023-02-01
32         Alice    alice@gmail.com        1    10  2023-02-02
33       Charlie  charlie@yahoo.com        -     -  2023-02-03
34       Charlie  charlie@yahoo.com        2    40  2023-02-04
35         Alice    alice@gmail.com        5    10  2023-02-05
36           BOB        bob@outlook        3    30  2023-02-06
37         Alice    alice@gmail.com        1    50  2023-02-07
38         Alice    alice@gmail.com        2    30  2023-02-08
39             -                  -        2    10  2023-02-09
40           Bob        bob@outlook        4    50  2023-02-10
41         Alice    alice@gmail.com        -    40  2023-02-11
42             -                  -        3    10  2023-02-12
43             -                  -        1    30  2023-02-13
44       Charlie  charlie@yahoo.com        4    20  2023-02-14
45         Alice    alice@gmail.com        -     -  2023-02-15
46         Alice    alice@gmail.com        4    30  2023-02-16
47         Alice    alice@gmail.com        5    50  2023-02-17
48         Alice    alice@gmail.com        -    10  2023-02-18
49       Charlie  charlie@yahoo.com        -     -  2023-02-19

In [74]:
df[["Customer Name", "Email"]] = df[["Customer Name", "Email"]].replace({"-":"Unknown"})

In [75]:
df

   Customer Name              Email Quantity Price        Date
0        Unknown            Unknown        1    30  2023-01-01
1          Alice    alice@gmail.com        1    40  2023-01-02
2            BOB        bob@outlook        1     -  2023-01-03
3          Alice    alice@gmail.com        4    40  2023-01-04
4        Charlie  charlie@yahoo.com        3    30  2023-01-05
5            BOB        bob@outlook        3    30  2023-01-06
6            BOB        bob@outlook        1    50  2023-01-07
7        Unknown            Unknown        3     -  2023-01-08
8            BOB        bob@outlook        3    20  2023-01-09
9        Charlie  charlie@yahoo.com        1    20  2023-01-10
10         Alice    alice@gmail.com        3    40  2023-01-11
11       Charlie  charlie@yahoo.com        -    50  2023-01-12
12       Charlie  charlie@yahoo.com        2    10  2023-01-13
13           BOB        bob@outlook        2    40  2023-01-14
14         Alice    alice@gmail.com        1    50  2023-01-15
15       Charlie  charlie@yahoo.com        4     -  2023-01-16
16       Unknown            Unknown        1     -  2023-01-17
17           BOB        bob@outlook        4     -  2023-01-18
18           BOB        bob@outlook        2     -  2023-01-19
19         Alice    alice@gmail.com        1     -  2023-01-20
20         Alice    alice@gmail.com        5    50  2023-01-21
21       Unknown            Unknown        -    50  2023-01-22
22           BOB        bob@outlook        3    30  2023-01-23
23         Alice    alice@gmail.com        4    20  2023-01-24
24           BOB        bob@outlook        5     -  2023-01-25
25         Alice    alice@gmail.com        3    10  2023-01-26
26         Alice    alice@gmail.com        3    50  2023-01-27
27           BOB        bob@outlook        1    10  2023-01-28
28           Bob        bob@outlook        3    10  2023-01-29
29           BOB        bob@outlook        -    10  2023-01-30
30         Alice    alice@gmail.com        5    30  2023-01-31
31         Alice    alice@gmail.com        3    50  2023-02-01
32         Alice    alice@gmail.com        1    10  2023-02-02
33       Charlie  charlie@yahoo.com        -     -  2023-02-03
34       Charlie  charlie@yahoo.com        2    40  2023-02-04
35         Alice    alice@gmail.com        5    10  2023-02-05
36           BOB        bob@outlook        3    30  2023-02-06
37         Alice    alice@gmail.com        1    50  2023-02-07
38         Alice    alice@gmail.com        2    30  2023-02-08
39       Unknown            Unknown        2    10  2023-02-09
40           Bob        bob@outlook        4    50  2023-02-10
41         Alice    alice@gmail.com        -    40  2023-02-11
42       Unknown            Unknown        3    10  2023-02-12
43       Unknown            Unknown        1    30  2023-02-13
44       Charlie  charlie@yahoo.com        4    20  2023-02-14
45         Alice    alice@gmail.com        -     -  2023-02-15
46         Alice    alice@gmail.com        4    30  2023-02-16
47         Alice    alice@gmail.com        5    50  2023-02-17
48         Alice    alice@gmail.com        -    10  2023-02-18
49       Charlie  charlie@yahoo.com        -     -  2023-02-19

In [76]:
df = df.query("Quantity != '-' and Price != '-'")

In [77]:
df = df[["Customer Name", "Email", "Quantity", "Price", "Date"]]

In [78]:
df

   Customer Name              Email Quantity Price        Date
0        Unknown            Unknown        1    30  2023-01-01
1          Alice    alice@gmail.com        1    40  2023-01-02
3          Alice    alice@gmail.com        4    40  2023-01-04
4        Charlie  charlie@yahoo.com        3    30  2023-01-05
5            BOB        bob@outlook        3    30  2023-01-06
6            BOB        bob@outlook        1    50  2023-01-07
8            BOB        bob@outlook        3    20  2023-01-09
9        Charlie  charlie@yahoo.com        1    20  2023-01-10
10         Alice    alice@gmail.com        3    40  2023-01-11
12       Charlie  charlie@yahoo.com        2    10  2023-01-13
13           BOB        bob@outlook        2    40  2023-01-14
14         Alice    alice@gmail.com        1    50  2023-01-15
20         Alice    alice@gmail.com        5    50  2023-01-21
22           BOB        bob@outlook        3    30  2023-01-23
23         Alice    alice@gmail.com        4    20  2023-01-24
25         Alice    alice@gmail.com        3    10  2023-01-26
26         Alice    alice@gmail.com        3    50  2023-01-27
27           BOB        bob@outlook        1    10  2023-01-28
28           Bob        bob@outlook        3    10  2023-01-29
30         Alice    alice@gmail.com        5    30  2023-01-31
31         Alice    alice@gmail.com        3    50  2023-02-01
32         Alice    alice@gmail.com        1    10  2023-02-02
34       Charlie  charlie@yahoo.com        2    40  2023-02-04
35         Alice    alice@gmail.com        5    10  2023-02-05
36           BOB        bob@outlook        3    30  2023-02-06
37         Alice    alice@gmail.com        1    50  2023-02-07
38         Alice    alice@gmail.com        2    30  2023-02-08
39       Unknown            Unknown        2    10  2023-02-09
40           Bob        bob@outlook        4    50  2023-02-10
42       Unknown            Unknown        3    10  2023-02-12
43       Unknown            Unknown        1    30  2023-02-13
44       Charlie  charlie@yahoo.com        4    20  2023-02-14
46         Alice    alice@gmail.com        4    30  2023-02-16
47         Alice    alice@gmail.com        5    50  2023-02-17

In [79]:
df = df.reset_index()

In [80]:
df = df[["Customer Name", "Email", "Quantity", "Price", "Date"]]

In [81]:
df

   Customer Name              Email Quantity Price        Date
0        Unknown            Unknown        1    30  2023-01-01
1          Alice    alice@gmail.com        1    40  2023-01-02
2          Alice    alice@gmail.com        4    40  2023-01-04
3        Charlie  charlie@yahoo.com        3    30  2023-01-05
4            BOB        bob@outlook        3    30  2023-01-06
5            BOB        bob@outlook        1    50  2023-01-07
6            BOB        bob@outlook        3    20  2023-01-09
7        Charlie  charlie@yahoo.com        1    20  2023-01-10
8          Alice    alice@gmail.com        3    40  2023-01-11
9        Charlie  charlie@yahoo.com        2    10  2023-01-13
10           BOB        bob@outlook        2    40  2023-01-14
11         Alice    alice@gmail.com        1    50  2023-01-15
12         Alice    alice@gmail.com        5    50  2023-01-21
13           BOB        bob@outlook        3    30  2023-01-23
14         Alice    alice@gmail.com        4    20  2023-01-24
15         Alice    alice@gmail.com        3    10  2023-01-26
16         Alice    alice@gmail.com        3    50  2023-01-27
17           BOB        bob@outlook        1    10  2023-01-28
18           Bob        bob@outlook        3    10  2023-01-29
19         Alice    alice@gmail.com        5    30  2023-01-31
20         Alice    alice@gmail.com        3    50  2023-02-01
21         Alice    alice@gmail.com        1    10  2023-02-02
22       Charlie  charlie@yahoo.com        2    40  2023-02-04
23         Alice    alice@gmail.com        5    10  2023-02-05
24           BOB        bob@outlook        3    30  2023-02-06
25         Alice    alice@gmail.com        1    50  2023-02-07
26         Alice    alice@gmail.com        2    30  2023-02-08
27       Unknown            Unknown        2    10  2023-02-09
28           Bob        bob@outlook        4    50  2023-02-10
29       Unknown            Unknown        3    10  2023-02-12
30       Unknown            Unknown        1    30  2023-02-13
31       Charlie  charlie@yahoo.com        4    20  2023-02-14
32         Alice    alice@gmail.com        4    30  2023-02-16
33         Alice    alice@gmail.com        5    50  2023-02-17

In [82]:
df["Quantity"] = df["Quantity"].map(int)
df["Price"] = df["Price"].map(int)

In [83]:
df["Revenue"] = df["Quantity"] * df["Price"]

In [84]:
df = df[["Date", "Customer Name", "Email", "Quantity", "Price", "Revenue"]]

In [85]:
# This is our final data
df.to_csv("Cleaned_Data.csv", index=False)